[main]
{% for server in pg_servers %}
pg{{loop.index}}-path=/var/lib/postgresql/patroni_cluster/data
pg{{loop.index}}-host={{ server }}
{% endfor %}

[global]
repo1-path=/var/lib/pgbackrest
repo1-retention-full=2
start-fast=y
